<!-- Template -->
<div id="app" class="text-light">
    <p class="text-center mb-4">{{ site.description }}</p>

    <div class="container text-center">
        <div class="d-inline-flex justify-content-between">

            <!-- Ordenar -->
            <div v-for="sort in sorts" class="dropdown mx-2">
                <button class="btn btn-sm dropdown-toggle fs-10"
                    :class="sortBy ? 'btn-success' : 'btn-secondary'"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <i class="fa-solid fa-sort"></i>
                    <span>&nbsp;</span>
                    <span class="pl-3" v-text="sort.label"></span>
                </button>
                <ul class="dropdown-menu">
                    <li v-for="option in sort.options">
                        <a @click="setSort(sort, option.value)" class="dropdown-item"
                            :class="sortBy === option.value ? 'bg-success' : ''" href="#">
                            <span v-text="option.label"></span>
                        </a>
                    </li>
                </ul>
            </div>

            <!-- Filtrar -->
            <div v-for="filter in filters" class="dropdown mx-2">
                <button class="btn btn-sm dropdown-toggle fs-10"
                    :class="filter.field === filterBy ? 'btn-success' : 'btn-secondary'"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <i class="fa-solid fa-filter"></i>
                    <span>&nbsp;</span>
                    <span v-text="filter.label"></span>
                </button>
                <ul class="dropdown-menu">
                    <li v-for="option in filter.options">
                        <a @click="setFilter(filter, option.value)" class="dropdown-item"
                            :class="filterByValue === option.value ? 'bg-success' : ''" href="#">
                            <span v-text="option.label"></span>
                        </a>
                    </li>
                </ul>
            </div>

            <!-- Limpar filtros -->
            <button v-if="sortBy || filterBy || filterByValue" @click="clearFilters" class="btn btn-sm btn-danger mx-2">
                <i class="fa-solid fa-trash"></i>
            </button>
        </div>

        <div class="row justify-content-md-center">
            <div v-for="game in games" class="col-md-6 col-lg-4 col-xl-3 col justify-content-center my-3">

                <div class="card bg-dark text-light rounded-4 shadow h-100">

                    <!-- Images -->
                    <div @click="showModal(game)" class="text-decoration-none cursor-pointer d-flex flex-column overflow-hidden">
                        <img class="rounded-top-4" loading="lazy" :src="game.images[0]" :alt="game.name">
                    </div>

                    <!-- Body -->
                    <div class="card-body d-flex flex-column justify-content-between">
                        <div>
                            <h4 @click="showModal(game)" class="card-title mb-0 cursor-pointer" v-text="game.name"></h4>
                            <p class="mb-3">
                                <small class="text-muted">
                                    (Por: <a target="_blank" :href="game.author_url" v-text="game.author_name"></a>)
                                </small>
                            </p>
                        </div>
                        <p @click="showModal(game)" class="card-text mb-4 cursor-pointer">
                            <small v-html="game.description"></small>
                        </p>
                        <div class="d-inline-flex justify-content-center">
                            <a v-for="link in game.links" :href="link.url" target="_blank"
                                class="btn border d-flex justify-content-center align-items-center mx-1"
                                :class="link.class" style="width: 1.5rem; height: 1.5rem; padding: 4px">
                                <img :src="'/assets/img/icons/' + link.icon" class="w-100">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="gameModal" ref="gameModal" tabindex="-1" aria-labelledby="gameModalLabel">
        <div class="modal-dialog">
        <div v-if="selectedGame" class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 mb-0 w-100 text-center" id="gameModalLabel" v-text="selectedGame?.name"></h1>
            </div>
            <div class="modal-body">
                <div class="swiper w-100 rounded-4">
                    <div class="swiper-wrapper">
                        <div v-for="image in selectedGame?.images" class="swiper-slide">
                            <div class="text-decoration-none d-flex flex-column overflow-hidden">
                                <img class="" loading="lazy" :src="image" :alt="image">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>

                <div class="mt-4">
                    <p v-html="selectedGame?.description"></p>
                </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
        </div>
    </div>
</div>

<script src="/assets/js/games.js"></script>