<!-- Template -->
<div id="app" class="text-light">

    <!-- Filtros -->
     <div v-if="sorts.length > 0 || filters.length > 0" class="justify-content-center page-content-thin">
        <div class="row">

            <!-- Ordenar -->
            <div v-if="sorts.length > 0" class="col dropdown">
                <button class="btn btn-sm dropdown-toggle fs-7 w-100 mt-3"
                    :class="sortBy ? 'btn-success' : 'btn-secondary'"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <i class="fa-solid fa-sort"></i>
                    <span>&nbsp;</span>
                    <span class="pl-3" v-text="getSortLabel(sortBy)"></span>
                </button>
                <ul class="dropdown-menu">
                    <li v-for="sort in sorts">
                        <a @click="setSort(sort)" class="dropdown-item"
                            :class="sortBy === sort.value ? 'bg-success' : ''" href="#">
                            <span v-text="sort.label"></span>
                        </a>
                    </li>
                </ul>
            </div>

            <!-- Filtrar -->
            <div v-if="filters.length > 0" v-for="filter in filters" class="dropdown col">
                <button class="btn btn-sm dropdown-toggle fs-7 w-100 mt-3"
                    :class="filter.field === filterBy ? 'btn-success' : 'btn-secondary'"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <i class="fa-solid fa-filter"></i>
                    <span>&nbsp;</span>
                    <span v-text="getFilterLabel(filter)"></span>
                </button>
                <ul class="dropdown-menu">
                    <li v-for="option in filter.options">
                        <a @click="setFilter(filter, option.value)" class="dropdown-item"
                            :class="filterByValue === option.value ? 'bg-success' : ''" href="#">
                            <span v-text="option.label"></span>
                        </a>
                    </li>
                </ul>
            </div>

            <!-- Limpar filtros -->
             <div class="col mt-3">
                 <button v-if="sortBy || filterBy || filterByValue" @click="clearFilters" class="btn btn-sm btn-danger w-100">
                     <i class="fa-solid fa-trash"></i>
                 </button>
             </div>
        </div>
     </div>

    <!-- Listagem -->
    <div class="container text-center mt-2">

        <div class="row justify-content-md-center">

            <!-- Item -->
            <div v-for="item in items" class="col-md-6 col-lg-4 col-xl-3 col justify-content-center my-3">

                <div class="card bg-dark text-light rounded-4 shadow h-100">

                    <!-- Imagem -->
                    <div @click="showModal(item)" class="text-decoration-none cursor-pointer d-flex flex-column overflow-hidden">

                        <!-- Etiqueta de Novo -->
                        <span v-if="isDateLessThanDaysAgo(item.date_added, 7)" v-text="'NOVO!'" :title="formatDate(item.date_added)"
                            class="badge bg-success badge-item-new bg-gradient border border-white px-2 py-1 cursor-pointer"></span>

                        <img class="rounded-top-4" loading="lazy" :src="'/assets/img/' + item.directory + '/' + item.images[0]" :alt="item.name">
                    </div>

                    <!-- Informações -->
                    <div class="card-body d-flex flex-column justify-content-between">
                        <div class="mb-3">
                            <h4 @click="showModal(item)" class="card-title mb-0 cursor-pointer" v-text="item.name"></h4>

                            <p v-if="item.author_name && item.author_url" class="my-1 text-muted font-tiny">
                                (Por: <a target="_blank" :href="item.author_url" v-text="item.author_name"></a>)
                            </p>

                            <p @click="showModal(item)" class="card-text mt-3 cursor-pointer font-tiny">
                                <span v-html="item.short_description"></span>
                            </p>
                        </div>
                        <div class="d-inline-flex justify-content-center">
                            <a v-for="link in item.links" :href="link" target="_blank" :title="getIconByUrl(link).name"
                                class="btn d-flex justify-content-center align-items-center mx-2"
                                style="width: 1.5rem; height: 1.5rem; padding: 3px">
                                <img :src="'/assets/img/icons/' + getIconByUrl(link).icon" class="w-100">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="itemModal" ref="itemModal" tabindex="-1" aria-labelledby="itemModalLabel">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" style="max-width: 800px;">
        <div v-if="selectedItem" class="modal-content">
            <div class="modal-header p-1">
                <h1 class="modal-title fs-3 mb-0 w-100 text-center" id="itemModalLabel" v-text="selectedItem?.name"></h1>
            </div>
            <div class="modal-body">
                <div class="swiper w-100 rounded-4">
                    <div class="swiper-wrapper">
                        <div v-for="image in selectedItem?.images" class="swiper-slide">
                            <div class="text-decoration-none d-flex flex-column overflow-hidden">
                                <img class="" loading="lazy" :src="'/assets/img/' + selectedItem.directory + '/' + image" :alt="image">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>

                <p v-if="selectedItem.author_name && selectedItem.author_url" class="mt-3 mb-0 text-muted text-center">
                    (Por: <a target="_blank" :href="selectedItem.author_url" v-text="selectedItem.author_name"></a>)
                </p>

                <div class="mt-3">
                    <p v-html="selectedItem?.short_description"></p>
                </div>

                <hr class="my-4">

                <h5 class="text-center mt-2">Acesse agora em:</h5>

                <div class="d-inline-flex justify-content-center w-100 mt-2">
                    <a v-for="link in selectedItem.links" :href="link" target="_blank" :title="getIconByUrl(link).name"
                        class="btn d-flex justify-content-center align-items-center mx-2"
                        :class="getIconByUrl(link).class"
                        style="width: 3rem; height: 3rem; padding: 6px">
                        <img :src="'/assets/img/icons/' + getIconByUrl(link).icon" class="w-100">
                    </a>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
        </div>
    </div>
</div>

<script src="/assets/js/listing.js"></script>
